/* Selector Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Selector de etiqueta */
body {
    background-color: darkred;
    color: #000;
}

/* Selector de clase */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

.img {
    width: 250px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(86, 161, 81);
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0, 25px;
}

.lista-aside {
    padding: 10px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}

/* Selector ID */
#contenedor {
    background-color: #dee0b7;
    border-radius: 5px;
    max-width: 900px; /* Agregamos un ancho máximo */
    margin: 0 auto; /* Centramos el contenedor en la página */
    padding: 1em;
    display: flex; /* Agregamos Flexbox al contenedor principal */
    flex-direction: column; /* Aplicamos flex en columna */
    align-items: center; /* Centramos los elementos horizontalmente */
}

#encabezado {
    width: 100%;
    background-color: #6c844e;
    margin: 1em 0;
    border-radius: 5px;
    padding: 0 50px;
    text-align: center;
}

#menu {
    width: 100%;
    background-color: #7e815b;
    margin: 1em 0;
    border-radius: 5px;
}

#contenido {
    width: 100%;
    background-color: #b5bf9a;
    margin: 0.5em 0;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion {
    width: 100%;
    margin: 0.5em 0;
    border-radius: 5px;
}

#pie {
    width: 100%;
    background-color: #b5bf9a;
    margin: 1.5em 0;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de etiqueta */
ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 700px) {
    #contenedor {
        flex-direction: column;
    }
    body {
        background-color: black;
    }
}
